<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>

    <header>
        <h1>CONTACTOS</h1>
    </header>

    <div class="container">

        <table>
            <thead>
                <tr>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a href="{{ url_for('listar') }}">Listar</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('actualizar') }}">Actualizar</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('buscar') }}">Buscar</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('crear') }}">Crear</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('eliminar') }}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div> 


</body>
</html>
